<%- include('template/header') %>
<main class="container">
  <header class="header-main title">
    <h1>HOME</h1>
    <h2>Mis Peliculas</h2>
  </header>
  <section>
    <a href="/admin/crear" class="btn botones">Crear Pelicula</a>

    <div class="flex-container">
      <% if (!respuesta.error) { %> <% respuesta.data.forEach(element => { %>

      <article class="box-arrangement">
        <div>
          <img src="" alt="foto pelicula" />
        </div>
        <div >
          <h3><%= element.titulo %></h3>
          <p><%= element.director %></p>
        </div>
        <div class="botones flex-container">
          <a href="/admin/modificar/<%= element.id_pelicula %>" class="btn">Editar</a>
          <a href="/admin/eliminar/<%= element.id_pelicula %>" class="btn">Eliminar</a>
        </div>
      </article>

      <% }) %> <% } %>
    </div>
  </section>
</main>
<%- include('template/footer') %>
