<%- include('template/header') %>
<main>
  <header class="header-main">
    <h1 class="title">Pelicula</h1>
    
  </header>
  <a href="/user/search" class="btn botones formulario">Regresa a la busqueda</a>
  <section>
    <div class="flex-container">
      <% respuesta.forEach(element => { %>

      <article class="box-arrangement">
        <div>
          <img src="<%= element.imagen %>" alt="foto pelicula" />
        </div>
        <div>
          <p>Titulo:</p>
          <h3><%= element.titulo %></h3>
          <p>Año:</p>
          <p><%= element.anio %></p>
          <p>Director:</p>
          <p><%= element.director %></p>
          <p>Genero:</p>
          <p><%= element.genero %></p>
          <p>Duración:</p>
          <p><%= element.duracion %></p>
        </div>
      </article>

      <% }) %>
    </div>
  </section>
</main>

<%- include('template/footer') %>
